#jinja2: lstrip_blocks: "True"
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated device.cfg Configuration File -->
<polycomConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="polycomConfig.xsd">
  {% if polycom_enable_lync_updates %}
  <!-- Set the Base Profile to Lync mode, with firmware updates from SFB -->
  <device device.set="1" device.baseProfile.set="1"
    device.baseProfile="Lync" device.prov.lyncDeviceUpdateEnabled="1"
    device.prov.lyncDeviceUpdateEnabled.set="1"
    lync.deviceUpdate.userInactivityTimeout="1800"
    lync.deviceUpdate.popUpSK.enabled="0"
    lync.deviceUpdate.serverPollInterval="28800" />
  {% else %}
  <!-- Set the Base Profile to Lync mode, with firmware updates from Provisioning Server -->
  <device device.set="1" device.baseProfile.set="1"
    device.baseProfile="Lync" device.prov.lyncDeviceUpdateEnabled="0"
    device.prov.lyncDeviceUpdateEnabled.set="1"
    lync.provisionDeviceParams.enabled="0" />
  {% endif %}
  {% if polycom_set_admin_pass %}
  <!-- Change Admin Password -->
  <device device.set="1">
    <device.auth device.auth.localAdminPassword="{{ polycom_admin_pass }}" device.auth.localUserPassword="{{ polycom_admin_pass }}" >
     <device.auth.localAdminPassword device.auth.localAdminPassword.set="1" />
     <device.auth.localUserPassword device.auth.localUserPassword.set="1" />
    </device.auth>
  </device>
  {% endif %}
  <device device.prov.tagSerialNo="1" device.prov.tagSerialNo.set="1" />
  {% if polycom_enable_http %}
  <!-- Enable access to the phones website -->
  <httpd httpd.enabled="1" httpd.cfg.enabled="1" httpd.cfg.secureTunnelRequired="1" httpd.cfg.secureTunnelPort="{{ polycom_web_port }}" />
  {% else %}
  <!-- Disable access to the phones website -->
  <httpd httpd.enabled="0" />
  {% endif %}
  <!-- Automatic overnight config checks (improves device security) -->
  <prov prov.polling.enabled="1" prov.polling.mode="random" prov.polling.period="86400" prov.polling.time="01:00" prov.polling.timeRandomEnd="05:00" />
  <!-- Skype features -->
  <feature feature.lync.hideSignOut="1"
    feature.EWSAutodiscover.enabled="1" />
  <!-- Exchange integration -->
  <exchange>
    <exchange.server exchange.server.url="{{ polycom_exchange_url }}" />
    <exchange.meeting exchange.meeting.reminderEnabled="0"
    exchange.meeting.alert.followOfficeHours="1" />
  </exchange>
  <feature feature.EWSAutodiscover.enabled="1" feature.exchangeCalendar.enabled="1" />
  <!-- We definitely don't want call recording on! -->
  <feature feature.callRecording.enabled="0" />
  <!-- Misc : a Warning Level of 1 suppresses the display of nuisance warnings (like the downstream PC is disconnected) -->
  <up up.warningLevel="1" />
  <feature feature.enhancedFeatureKeys.enabled="1" feature.deviceLock.enable="0" />
  <!-- Power Saving : force "office hours" 24x7 & sleep after 10 minutes -->
  <powerSaving powerSaving.enable="1">
    <powerSaving.officeHours>
      <powerSaving.officeHours.startHour
        powerSaving.officeHours.startHour.monday="0"
        powerSaving.officeHours.startHour.tuesday="0"
        powerSaving.officeHours.startHour.wednesday="0"
        powerSaving.officeHours.startHour.thursday="0"
        powerSaving.officeHours.startHour.friday="0"
        powerSaving.officeHours.startHour.saturday="0"
        powerSaving.officeHours.startHour.sunday="0" />
      <powerSaving.officeHours.duration
        powerSaving.officeHours.duration.monday="24"
        powerSaving.officeHours.duration.tuesday="24"
        powerSaving.officeHours.duration.wednesday="24"
        powerSaving.officeHours.duration.thursday="24"
        powerSaving.officeHours.duration.friday="24"
        powerSaving.officeHours.duration.saturday="24"
        powerSaving.officeHours.duration.sunday="24" />
    </powerSaving.officeHours>
  </powerSaving>
  <!-- Enable Log uploading -->
  <feature>
   <feature.logUpload feature.logUpload.enabled="1" />
  </feature>
  {% if polycom_enable_logging %}
  <log>
    <log.render
      log.render.level="1"
      log.render.type="2"
      log.render.file="1"
      log.render.file.upload.period="86400"
      log.render.file.upload.append="0"
      log.render.file.upload.append.sizeLimit="512"
      log.render.file.upload.append.limitMode="delete"
    />
  </log>
  <feature>
    <feature.logUpload feature.logUpload.enabled="1" />
  </feature>
  {% endif %}
</polycomConfig>
